body {
  background-image:url("https://t4.ftcdn.net/jpg/04/01/25/23/360_F_401252360_L9Ophcvy3yjnU5akk2JJi0dMFOZZQUXb.jpg");
}
.container {
  font-family:Georgia;
  position:absolute;
  top:250px;
}
.box {
  position:absolute;
  width:500px;
  left:700px;
  top:25px;
  background-color:white;
  border-radius:10px;
  border-style:solid;
  border-color:darkgray;
}
.box2 {
  position:absolute;
  width:240px;
  left:830px;
  top:190px;
  background-color:white;
  border-radius:10px;
  border-style:solid;
  border-color:darkgray;
}
